//colors
$black: #000000;
$black-10: rgba($black, 0.1);
$black-50: rgba($black, 0.5);
$black-russian: #262730;
$bright-grey: #595F69;
$brown: #A52A2A;
$dark-tangerine: #FFB81F;
$gray-suit: #8F8E95;
$periwinkle: #CCCEE1;
$silver: #C4C4C4;
$white: #ffffff;
$white-60: rgba($white, 0.6);
$zircon: #DEE5E5;


// z-index

$modalZ-Index: 10;
